<div class="home">
  <div class="content">
    <div class="welcome">
      <h1>Welcome to Kackle!</h1>
    </div>

    <div class="sample-joke">
      <div class="question">
        Q: <%= @joke.question %>
      </div>

      <div class="answer">
        A: <%= @joke.answer %>
      </div>
    </div>
  </div>

  <%= link_to "Sign Up!", new_user_path, class: "sign-up" %>

</div>
