<div class="home">
  <div class="content">
    <div class="welcome">
      <h1>Welcome to Kackle!</h1>
    </div>

    <div class="sample-joke">
      <div class="question">
        <%= @joke.question %>
      </div>

      <div class="answer">
        <%= @joke.answer %>
      </div>
    </div>
  </div>

  <button class="sign-up">Sign up!</button>
</div>
