$color1: rgba(119, 135, 139, 1);
$color2: rgba(23, 190, 187, 1);
$color3: rgba(35, 100, 170, 1);
$color4: rgba(254, 198, 1, 1);
$color5: rgba(234, 115, 23, 1);

body {
  background-color: $color2;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 575px;
}

.content {
  background-color: $color2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 85%;
  border: 1px solid black;
  margin-bottom: 5%;
}

.sample-joke {
  margin-left: 10%;
  margin-right: 5%;
  width: 50%;
}

.welcome h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.welcome {
  margin-left: 5%;
  width: 50%;
}

.sign-up {
  height: 10%;
  width: 20%;
  font-size: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .home {
    flex-direction: column;
  }

  .sample-joke {
    margin-left: 0;
    margin-top: 5%;
  }
}
